<section class="covers-section">
  <div class="container">
    <h2 class="covers-title visually-hidden">Covers Animation</h2>
    <div class="covers-content">
      <ul class="covers-menu">
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-1.jpg,
              ./img/covers/covers-img-1@2x.jpg
            "
            src="./img/covers/covers-img-1.jpg"
            alt="Transforming your body shape with Power Pulse"
            width="282"
            height="162"
          />
          <!-- <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-2.jpg,
              ./img/covers/covers-img-2@2x.jpg
            "
            src="./img/covers/covers-img-2.jpg"
            alt="MIMINO"
            width="282"
            height="162"
          /> -->
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-3.jpg,
              ./img/covers/covers-img-3@2x.jpg
            "
            src="./img/covers/covers-img-3.jpg"
            alt="Reviving the traditional Ukrainian artistry in every stitch."
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-4.jpg,
              ./img/covers/covers-img-4@2x.jpg
            "
            src="./img/covers/covers-img-4.jpg"
            alt="ORGANIC VEGETABLES TO YOUR DIET TODAY!"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-5.jpg,
              ./img/covers/covers-img-5@2x.jpg
            "
            src="./img/covers/covers-img-5.jpg"
            alt="Manage Your Finances Masterfully!"
            width="282"
            height="162"
          />

          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-6.jpg,
              ./img/covers/covers-img-6@2x.jpg
            "
            src="./img/covers/covers-img-6.jpg"
            alt="A brand that is inspired by forms creates by nature."
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-7.jpg,
              ./img/covers/covers-img-7@2x.jpg
            "
            src="./img/covers/covers-img-7.jpg"
            alt="Get Body in shape, Stay healthy"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-8.jpg,
              ./img/covers/covers-img-8@2x.jpg
            "
            src="./img/covers/covers-img-8.jpg"
            alt="Fresh harvest box is your one-stop place for a delicious fruit basket"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-9.jpg,
              ./img/covers/covers-img-9@2x.jpg
            "
            src="./img/covers/covers-img-9.jpg"
            alt="Discover the joy of learning English with us!"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-9-10.jpg,
              ./img/covers/covers-img-9-10@2x.jpg
            "
            src="./img/covers/covers-img-9-10.jpg"
            alt="Turn your business into an online leader"
            width="282"
            height="162"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-9-10.jpg,
              ./img/covers/covers-img-9-10@2x.jpg
            "
            src="./img/covers/covers-img-9-10.jpg"
            alt="Turn your business into an online leader"
            width="282"
            height="162"
          />
          <!-- <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-9.jpg,
              ./img/covers/covers-img-9@2x.jpg
            "
            src="./img/covers/covers-img-9.jpg"
            alt="Discover the joy of learning English with us!"
            width="282"
            height="162"
          /> -->
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-8.jpg,
              ./img/covers/covers-img-8@2x.jpg
            "
            src="./img/covers/covers-img-8.jpg"
            alt="Fresh harvest box is your one-stop place for a delicious fruit basket"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-7.jpg,
              ./img/covers/covers-img-7@2x.jpg
            "
            src="./img/covers/covers-img-7.jpg"
            alt="Get Body in shape, Stay healthy"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-6.jpg,
              ./img/covers/covers-img-6@2x.jpg
            "
            src="./img/covers/covers-img-6.jpg"
            alt="A brand that is inspired by forms creates by nature."
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-5.jpg,
              ./img/covers/covers-img-5@2x.jpg
            "
            src="./img/covers/covers-img-5.jpg"
            alt="Manage Your Finances Masterfully!"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-4.jpg,
              ./img/covers/covers-img-4@2x.jpg
            "
            src="./img/covers/covers-img-4.jpg"
            alt="ORGANIC VEGETABLES TO YOUR DIET TODAY!"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-3.jpg,
              ./img/covers/covers-img-3@2x.jpg
            "
            src="./img/covers/covers-img-3.jpg"
            alt="Reviving the traditional Ukrainian artistry in every stitch."
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-2.jpg,
              ./img/covers/covers-img-2@2x.jpg
            "
            src="./img/covers/covers-img-2.jpg"
            alt="MIMINO"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-1.jpg,
              ./img/covers/covers-img-1@2x.jpg
            "
            src="./img/covers/covers-img-1.jpg"
            alt="Transforming your body shape with Power Pulse"
            width="282"
            height="162"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-2.jpg,
              ./img/covers/covers-img-2@2x.jpg
            "
            src="./img/covers/covers-img-2.jpg"
            alt="MIMINO"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-4.jpg,
              ./img/covers/covers-img-4@2x.jpg
            "
            src="./img/covers/covers-img-4.jpg"
            alt="ORGANIC VEGETABLES TO YOUR DIET TODAY!"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-6.jpg,
              ./img/covers/covers-img-6@2x.jpg
            "
            src="./img/covers/covers-img-6.jpg"
            alt="A brand that is inspired by forms creates by nature."
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-8.jpg,
              ./img/covers/covers-img-8@2x.jpg
            "
            src="./img/covers/covers-img-8.jpg"
            alt="Fresh harvest box is your one-stop place for a delicious fruit basket"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-9-10.jpg,
              ./img/covers/covers-img-9-10@2x.jpg
            "
            src="./img/covers/covers-img-9-10.jpg"
            alt="Turn your business into an online leader"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-1.jpg,
              ./img/covers/covers-img-1@2x.jpg
            "
            src="./img/covers/covers-img-1.jpg"
            alt="Transforming your body shape with Power Pulse"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-3.jpg,
              ./img/covers/covers-img-3@2x.jpg
            "
            src="./img/covers/covers-img-3.jpg"
            alt="Reviving the traditional Ukrainian artistry in every stitch."
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-5.jpg,
              ./img/covers/covers-img-5@2x.jpg
            "
            src="./img/covers/covers-img-5.jpg"
            alt="Manage Your Finances Masterfully!"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-7.jpg,
              ./img/covers/covers-img-7@2x.jpg
            "
            src="./img/covers/covers-img-7.jpg"
            alt="Get Body in shape, Stay healthy"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-9.jpg,
              ./img/covers/covers-img-9@2x.jpg
            "
            src="./img/covers/covers-img-9.jpg"
            alt="Discover the joy of learning English with us!"
            width="282"
            height="162"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-9.jpg,
              ./img/covers/covers-img-9@2x.jpg
            "
            src="./img/covers/covers-img-9.jpg"
            alt="Discover the joy of learning English with us!"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-7.jpg,
              ./img/covers/covers-img-7@2x.jpg
            "
            src="./img/covers/covers-img-7.jpg"
            alt="Get Body in shape, Stay healthy"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-5.jpg,
              ./img/covers/covers-img-5@2x.jpg
            "
            src="./img/covers/covers-img-5.jpg"
            alt="Manage Your Finances Masterfully!"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-3.jpg,
              ./img/covers/covers-img-3@2x.jpg
            "
            src="./img/covers/covers-img-3.jpg"
            alt="Reviving the traditional Ukrainian artistry in every stitch."
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-1.jpg,
              ./img/covers/covers-img-1@2x.jpg
            "
            src="./img/covers/covers-img-1.jpg"
            alt="Transforming your body shape with Power Pulse"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-8.jpg,
              ./img/covers/covers-img-8@2x.jpg
            "
            src="./img/covers/covers-img-8.jpg"
            alt="Fresh harvest box is your one-stop place for a delicious fruit basket"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-6.jpg,
              ./img/covers/covers-img-6@2x.jpg
            "
            src="./img/covers/covers-img-6.jpg"
            alt="A brand that is inspired by forms creates by nature."
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-4.jpg,
              ./img/covers/covers-img-4@2x.jpg
            "
            src="./img/covers/covers-img-4.jpg"
            alt="ORGANIC VEGETABLES TO YOUR DIET TODAY!"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-2.jpg,
              ./img/covers/covers-img-2@2x.jpg
            "
            src="./img/covers/covers-img-2.jpg"
            alt="MIMINO"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/covers-img-9-10.jpg,
              ./img/covers/covers-img-9-10@2x.jpg
            "
            src="./img/covers/covers-img-9-10.jpg"
            alt="Turn your business into an online leader"
            width="282"
            height="162"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
