<section class="covers-section">
  <div class="container">
    <h2 class="covers-title visually-hidden">Covers Animation</h2>
    <div class="covers-content">
      <ul class="covers-menu">
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              ./img/covers/transform@2x.jpg
            "
            src="./img/covers/transform@1x.jpg"
            alt="Transforming your body shape with Power Pulse"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/mimino@2x.png"
            src="./img/covers/mimino@1x.png"
            alt="MIMINO"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/vyshyvanka@2x.jpg
            "
            src="./img/covers/vyshyvanka@1x.jpg"
            alt="Reviving the traditional Ukrainian artistry in every stitch."
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/vege@2x.png"
            src="./img/covers/vege@1x.png"
            alt="ORGANIC VEGETABLES TO YOUR DIET TODAY!"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/finance@2x.jpg"
            src="./img/covers/finance@1x.jpg"
            alt="Manage Your Finances Masterfully!"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/make@2x.png"
            src="./img/covers/make@1x.png"
            alt="A brand that is inspired by forms creates by nature."
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/body@2x.jpg"
            src="./img/covers/body@1x.jpg"
            alt="Get Body in shape, Stay healthy"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/freshbox@2x.jpg"
            src="./img/covers/freshbox@1x.jpg"
            alt="Fresh harvest box is your one-stop place for a delicious fruit basket"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/english@2x.jpg"
            src="./img/covers/english@1x.jpg"
            alt="Discover the joy of learning English with us!"
            width="282"
            height="162"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="./img/covers/media@2x.jpg"
            src="./img/covers/media@1x.jpg"
            alt="Turn your business into an online leader"
            width="282"
            height="162"
          />

          <img
            class="covers-img"
            srcset="./img/covers/freshbox@2x.jpg"
            src="./img/covers/freshbox@1x.jpg"
            alt="Fresh harvest box is your one-stop place for a delicious fruit basket"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/body@2x.jpg"
            src="./img/covers/body@1x.jpg"
            alt="Get Body in shape, Stay healthy"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/finance@2x.jpg"
            src="./img/covers/finance@1x.jpg"
            alt="Manage Your Finances Masterfully!"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/vege@2x.png"
            src="./img/covers/vege@1x.png"
            alt="ORGANIC VEGETABLES TO YOUR DIET TODAY!"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/vyshyvanka@2x.jpg
            "
            src="./img/covers/vyshyvanka@1x.jpg"
            alt="Reviving the traditional Ukrainian artistry in every stitch."
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/mimino@2x.png"
            src="./img/covers/mimino@1x.png"
            alt="MIMINO"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/transform@2x.jpg
            "
            src="./img/covers/transform@1x.jpg"
            alt="Transforming your body shape with Power Pulse"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/english@2x.jpg"
            src="./img/covers/english@1x.jpg"
            alt="Discover the joy of learning English with us!"
            width="282"
            height="162"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="./img/covers/mimino@2x.png"
            src="./img/covers/mimino@1x.png"
            alt="MIMINO"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/vege@2x.png"
            src="./img/covers/vege@1x.png"
            alt="ORGANIC VEGETABLES TO YOUR DIET TODAY!"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/make@2x.png"
            src="./img/covers/make@1x.png"
            alt="A brand that is inspired by forms creates by nature."
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/freshbox@2x.jpg"
            src="./img/covers/freshbox@1x.jpg"
            alt="Fresh harvest box is your one-stop place for a delicious fruit basket"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/media@2x.jpg"
            src="./img/covers/media@1x.jpg"
            alt="Turn your business into an online leader"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/transform@2x.jpg
            "
            src="./img/covers/transform@1x.jpg"
            alt="Transforming your body shape with Power Pulse"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/vyshyvanka@2x.jpg
            "
            src="./img/covers/vyshyvanka@1x.jpg"
            alt="Reviving the traditional Ukrainian artistry in every stitch."
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/finance@2x.jpg"
            src="./img/covers/finance@1x.jpg"
            alt="Manage Your Finances Masterfully!"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/body@2x.jpg"
            src="./img/covers/body@1x.jpg"
            alt="Get Body in shape, Stay healthy"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/english@2x.jpg"
            src="./img/covers/english@1x.jpg"
            alt="Discover the joy of learning English with us!"
            width="282"
            height="162"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="./img/covers/english@2x.jpg"
            src="./img/covers/english@1x.jpg"
            alt="Discover the joy of learning English with us!"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/body@2x.jpg"
            src="./img/covers/body@1x.jpg"
            alt="Get Body in shape, Stay healthy"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/finance@2x.jpg"
            src="./img/covers/finance@1x.jpg"
            alt="Manage Your Finances Masterfully!"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/vyshyvanka@2x.jpg
            "
            src="./img/covers/vyshyvanka@1x.jpg"
            alt="Reviving the traditional Ukrainian artistry in every stitch."
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="
              ./img/covers/transform@2x.jpg
            "
            src="./img/covers/transform@1x.jpg"
            alt="Transforming your body shape with Power Pulse"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/freshbox@2x.jpg"
            src="./img/covers/freshbox@1x.jpg"
            alt="Fresh harvest box is your one-stop place for a delicious fruit basket"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/make@2x.png"
            src="./img/covers/make@1x.png"
            alt="A brand that is inspired by forms creates by nature."
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/vege@2x.png"
            src="./img/covers/vege@1x.png"
            alt="ORGANIC VEGETABLES TO YOUR DIET TODAY!"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/mimino@2x.png"
            src="./img/covers/mimino@1x.png"
            alt="MIMINO"
            width="282"
            height="162"
          />
          <img
            class="covers-img"
            srcset="./img/covers/media@2x.jpg"
            src="./img/covers/media@1x.jpg"
            alt="Turn your business into an online leader"
            width="282"
            height="162"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
