<section>
    <div class="container">
        <h2 class="title">FAQ</h2>
        <ul class="accordion">
            <li class="content-box">
                <div class="accordion-and-item">
                <div class="label">What programming languages are most often used in your project?</div>
                <button type="button" class="accordion-button">
                <svg width="20" height="20" >
                    <use href="./img/sprite.svg#icon-Icon"></use>
                </svg>
                </button>
            </div>
                <div class="content">
                    <p>In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
                </div>
            </li>
            <li class="content-box">
                <div class="accordion-and-item">
                <div class="label">What are the deadlines for the project?</div>
                <button type="button" class="accordion-button">
                <svg width="20" height="20" >
                    <use href="./img/sprite.svg#icon-Icon"></use>
                </svg>
                </button>
            </div>
                <div class="content">
                    <p>The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
                </div>
            </li>
            <li class="content-box">
                <div class="accordion-and-item">
                <div class="label">What payment methods do you accept?</div>
                <button type="button" class="accordion-button">
                <svg width="20" height="20" >
                    <use href="./img/sprite.svg#icon-Icon"></use>
                </svg> 
                </button>
            </div>
                <div class="content">
                    <p>Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
                </div>
            </li>
            <li class="content-box">
                <div class="accordion-and-item">
                <div class="label">How can I contact you?</div>
                <button type="button" class="accordion-button">
                <svg width="20" height="20" >
                    <use href="./img/sprite.svg#icon-Icon"></use>
                </svg> 
                </button>
            </div>
                <div class="content">
                    <p>In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
                </div>
            </li>
            <li class="content-box">
                <div class="accordion-and-item">
                <div class="label">Do you provide advice or support?</div>
                <button type="button" class="accordion-button">
                <svg width="20" height="20" >
                    <use href="./img/sprite.svg#icon-Icon"></use>
                </svg> 
                </button>
            </div>
                <div class="content">
                    <p>The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
                </div>
            </li>
            <li class="content-box">
                <div class="accordion-and-item">
                <div class="label">What does the process of developing a software product look like from idea to implementation?</div>
                <button type="button" class="accordion-button">
                <svg width="20" height="20" >
                    <use href="./img/sprite.svg#icon-Icon"></use>
                </svg> 
                </button>
            </div>
                <div class="content">
                    <p>Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
                </div>
            </li>
        </ul>
    </div>
        </section>