<header class="header">
  <div class="container header-section">
    <div class="header-logo-block">
      <img
        src="/img/header/image.png"
        srcset="/img/header/image.png 1x, /img/header/image@2x.png 2x"
        alt="Lloyd Jefferson"
        class="header-logo"
        width="80"
        height="80"
      />
      <svg class="header-logo-name" width="84" height="19">
        <use href="/img/icons.svg#icon-jefferson"></use>
      </svg>
    </div>

    <button class="header-burger-button" type="button">
      <svg class="header-burger-icon">
        <use href="/img/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <div class="header-menu">
      <button class="header-menu-button" type="button">Menu</button>
      <ul class="header-menu-list">
        <li class="header-menu-item"><a href="#about-me">About me</a></li>
        <li class="header-menu-item"><a href="#benefits">Benefits</a></li>
        <li class="header-menu-item"><a href="#projects">Projects</a></li>
        <li class="header-menu-item"><a href="#faq">FAQ</a></li>
      </ul>
    </div>
    <a href="#footer" class="header-order-button">Order the project</a>
  </div>
  <div class="container mobile-menu">
    <button class="mobile-menu-close-btn" type="button">
      <svg class="header-burger-icon">
        <use href="/img/icons.svg#icon-close-x"></use>
      </svg>
    </button>
    <ul class="mobile-menu-list">
      <li class="mobile-menu-item"><a href="#about-me">About me</a></li>
      <li class="mobile-menu-item"><a href="#benefits">Benefits</a></li>
      <li class="mobile-menu-item"><a href="#projects">Projects</a></li>
      <li class="mobile-menu-item"><a href="#faq">FAQ</a></li>
    </ul>
    <a href="#footer" class="menu-order-button">Order the project</a>
  </div>
</header>
