<header class="header">
  <div class="container header-section">
    <div class="header-logo-block">
      <img
        src="/img/hero/heder-mob.jpg"
        srcset="/img/hero/heder-mob.jpg 1x, /img/hero/heder-mob@2x.jpg 2x"
        alt="Lloyd Jefferson"
        class="header-logo"
        width="80"
        height="80"
      />
      <span class="logo-name">jefferson*</span>
    </div>

    <button class="header-burger-button" type="button">
      <svg class="header-burger-icon">
        <use href="/img/sprite.svg#javascript"></use>
      </svg>
    </button>
    <div class="header-menu">
      <button class="header-menu-button" type="button">Menu</button>
      <ul class="header-menu-list">
        <li class="header-menu-item"><a href="#about-me">About me</a></li>
        <li class="header-menu-item"><a href="#benefits">Benefits</a></li>
        <li class="header-menu-item"><a href="#projects">Projects</a></li>
        <li class="header-menu-item"><a href="#faq">FAQ</a></li>
      </ul>
    </div>
    <button class="header-order-button" type="button">Order the project</button>
  </div>
  <div class="container mobile-menu">
    <button class="mobile-menu-close-btn" type="button">
      <svg class="header-burger-icon">
        <use href="/img/sprite.svg#javascript"></use>
      </svg>
    </button>
    <ul class="mobile-menu-list">
      <li class="mobile-menu-item"><a href="#about-me">About me</a></li>
      <li class="mobile-menu-item"><a href="#benefits">Benefits</a></li>
      <li class="mobile-menu-item"><a href="#projects">Projects</a></li>
      <li class="mobile-menu-item"><a href="#faq">FAQ</a></li>
    </ul>
    <button class="menu-order-button" type="button">Order the project</button>
  </div>
</header>
