<header class="header">
  <div class="container" style="position: relative">
    <div class="header-section">
      <div class="header-logo-block">
        <a href="../index.html">
        <img
          src="/img/header/image.png"
          srcset="/img/header/image.png 1x, /img/header/image@2x.png 2x"
          alt="Lloyd Jefferson"
          class="header-logo"
          width="80"
          height="80"
        />
        </a>
        <svg class="header-logo-name" width="84" height="19">
          <use href="/img/icons.svg#icon-jefferson"></use>
        </svg>
      </div>

      <button class="header-burger-button" type="button">
        <svg class="header-burger-icon">
          <use href="/img/icons.svg#icon-burger"></use>
        </svg>
      </button>
      <div class="header-menu">
        <button class="header-menu-button" type="button">Menu</button>
        <ul class="header-menu-list">
          <li class="header-menu-item"><a href="#about-me">About me</a></li>
          <li class="header-menu-item"><a href="#benefits">Benefits</a></li>
          <li class="header-menu-item"><a href="#projects">Projects</a></li>
          <li class="header-menu-item"><a href="#faq">FAQ</a></li>
        </ul>
      </div>
      <a href="#work-together" class="header-order-button">Order the project</a>
    </div>
  </div>

  <div class="align-container" style="position: relative">
    <div class="mobile-menu">
      <button class="mobile-menu-close-btn" type="button">
        <svg class="header-burger-icon">
          <use href="/img/icons.svg#icon-close-x"></use>
        </svg>
      </button>
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item"><a href="#about-me">About me</a></li>
        <li class="mobile-menu-item"><a href="#benefits">Benefits</a></li>
        <li class="mobile-menu-item"><a href="#projects">Projects</a></li>
        <li class="mobile-menu-item"><a href="#faq">FAQ</a></li>
      </ul>
      <a href="#work-together" class="menu-order-button">Order the project</a>
    </div>
  </div>
</header>
