<section class="hero">
  <div class="container section hero-section">
    <h1 class="hero-title">
      Hello.<br />
      I`m Fullstack developer Lloyd Jefferson.
    </h1>
    <ul class="hero-socials-list">
      <li class="hero-socials-item">
        <a href="https://www.instagram.com/goitclub/">IG</a>
      </li>
      <li class="hero-socials-item">
        <a href="https://www.facebook.com/goITclub/">FB</a>
      </li>
      <li class="hero-socials-item">
        <a href="https://www.youtube.com/c/GoIT">YT</a>
      </li>
      <li class="hero-socials-item">
        <a href="https://github.com/CrockFrey/js-team-5-project">GH</a>
      </li>
      <li class="hero-socials-mail">
        <a href="mailto:lloudjefferson@gmail.com">lloydjefferson@gmail.com</a>
      </li>
    </ul>
  </div>
</section>
