  <section class="hero">
    <div class="container align-container">
      <div class="hero-section">
        <h1 class="hero-title">
          Hello.<br />
          I`m Fullstack developer Lloyd Jefferson.
        </h1>
        <ul class="hero-socials-list">
          <li class="hero-socials-item">
            <a href="https://www.instagram.com/goitclub/" target="_blank">IG</a>
          </li>
          <li class="hero-socials-item">
            <a href="https://www.facebook.com/goITclub/" target="_blank">FB</a>
          </li>
          <li class="hero-socials-item">
            <a href="https://www.youtube.com/c/GoIT" target="_blank">YT</a>
          </li>
          <li class="hero-socials-item">
            <a
              href="https://github.com/CrockFrey/js-team-5-project"
              target="_blank"
              >GH</a
            >
          </li>
          <li class="hero-socials-mail">
            <a href="mailto:lloudjefferson@gmail.com">lloydjefferson@gmail.com</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
