<section class="projects-section" id="projects">
  <div class="container">
    <h2 class="projects-title">Projects</h2>
    <div class="swiper projects-list">
      <!-- Слайд 1 -->
      <ul class="swiper-wrapper projects-cards">
        <li class="swiper-slide projects-cards-item">
          <div class="left-projects-card">
            <ul class="projects-tags-list">
              <li class="projects-tags-list-item">#react</li>
              <li class="projects-tags-list-item">#js</li>
              <li class="projects-tags-list-item">#node js</li>
              <li class="projects-tags-list-item">#git</li>
            </ul>
            <h3 class="second-projects-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <div class="see-projects-btn">
              <a
                href="https://github.com/CrockFrey/js-team-5-project"
                class="projects-link"
                target="_blank"
                >See projects</a
              >
            </div>
          </div>
          <div class="right-projects-card">
            <picture>

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/projects/project-tab-1.webp 1x,
                  ./img/projects/project-tab-1@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/projects/project-mob-1.webp 1x,
                  ./img/projects/project-mob-1@2x.webp 2x
                "
              />
              <img
                src="./img/projects/project-desktop-1.webp"
                alt="Expand your mind, reading a book"
              />
            </picture>
          </div>
        </li>
        <!-- Слайд 2 -->
        <li class="swiper-slide projects-cards-item">
          <div class="left-projects-card">
            <ul class="projects-tags-list">
              <li class="projects-tags-list-item">#react</li>
              <li class="projects-tags-list-item">#js</li>
              <li class="projects-tags-list-item">#node js</li>
              <li class="projects-tags-list-item">#git</li>
            </ul>
            <h3 class="second-projects-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <div class="see-projects-btn">
              <a
                href="https://github.com/CrockFrey/js-team-5-project"
                class="projects-link"
                target="_blank"
                >See projects</a
              >
            </div>
          </div>
          <div class="right-projects-card">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/projects/project-tab-2.webp 1x,
                  ./img/projects/project-tab-2@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/projects/project-mob-2.webp 1x,
                  ./img/projects/project-mob-2@2x.webp 2x
                "
              />
              <img
                src="./img/projects/project-desktop-2.webp"
                alt="Pets are love"
              />
            </picture>
          </div>
        </li>
        <!-- Слайд 3 -->
        <li class="swiper-slide projects-cards-item">
          <div class="left-projects-card">
            <ul class="projects-tags-list">
              <li class="projects-tags-list-item">#react</li>
              <li class="projects-tags-list-item">#js</li>
              <li class="projects-tags-list-item">#node js</li>
              <li class="projects-tags-list-item">#git</li>
            </ul>
            <h3 class="second-projects-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <div class="see-projects-btn">
              <a
                href="https://github.com/CrockFrey/js-team-5-project"
                class="projects-link"
                target="_blank"
                >See projects</a
              >
            </div>
          </div>
          <div class="right-projects-card">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/projects/project-tab-3.webp 1x,
                  ./img/projects/project-tab-3@2x.webp 2x 
                " />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/projects/project-mob-3.webp 1x,
                  ./img/projects/project-mob-3@2x.webp 2x
                " />
              <img
                src="./img/projects/project-desktop-3.webp"
                alt="Registration form"
            /></picture>
          </div>
        </li>
      </ul>
      <div class="projects-swiper-btn">
        <button class="projects-button-prev swiper-button-disabled">
          <svg class="projects-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="projects-button-next">
          <svg class="projects-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
