<section class="projects-section">
  <div class="container">
    <h2 class="projects-title">Projects</h2>
    <div class="projects-list">
      <!-- Слайд 1 -->
      <ul class="swipper-wrapper projects-cards">
        <li class="swiper-slide projects-cards-item">
          <div class="left-projects-card">
            <ul class="projects-tags-list">
              <li class="projects-tags-list-item">#react</li>
              <li class="projects-tags-list-item">#js</li>
              <li class="projects-tags-list-item">#node js</li>
              <li class="projects-tags-list-item">#git</li>
            </ul>
            <h3 class="second-projects-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <div class="see-projects-btn">
              <a
                href="https://github.com/CrockFrey/js-team-5-project"
                class="projects-link"
                target="_blank"
                >See projects</a
              >
            </div>
          </div>
          <div class="right-projects-card">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ../img/projects/projects-desktop-1.jpg,
                  ../img/projects/projects-desktop-1@2x.jpg
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../img/projects/projects-tab-1.jpg,
                  ../img/projects/projects-tab-1@2x.jpg
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ../img/projects/projects-mob-1.jpg,
                  ../img/projects/projects-mob-1@2x.jpg
                "
              />
              <img
                src="../img/projects/projects-desktop-1.jpg"
                alt="Expand your mind, reading a book"
                width="614"
                height="385"
              />
            </picture>
          </div>
        </li>
        <!-- Слайд 2 -->
        <li class="swiper-slide projects-cards-item">
          <div class="left-projects-card">
            <ul class="projects-tags-list">
              <li class="projects-tags-list-item">#react</li>
              <li class="projects-tags-list-item">#js</li>
              <li class="projects-tags-list-item">#node js</li>
              <li class="projects-tags-list-item">#git</li>
            </ul>
            <h3 class="second-projects-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <div class="see-projects-btn">
              <a
                href="https://github.com/CrockFrey/js-team-5-project"
                class="projects-link"
                target="_blank"
                >See projects</a
              >
            </div>
          </div>
          <div class="right-projects-card">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ../img/projects/projects-desktop-2.jpg,
                  ../img/projects/projects-desktop-22@2x.jpg
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../img/projects/projects-tab-2.jpg,
                  ../img/projects/projects-tab-2@2x.jpg
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ../img/projects/projects-mob-2.jpg,
                  ../img/projects/projects-mob-2@2x.jpg
                "
              />
              <img
                src="../img/projects/projects-desktop-2.jpg"
                alt="Pets are love"
                width="614"
                height="385"
              />
            </picture>
          </div>
        </li>
        <!-- Слайд 3 -->
        <li class="swiper-slide projects-cards-item">
          <div class="left-projects-card">
            <ul class="projects-tags-list">
              <li class="projects-tags-list-item">#react</li>
              <li class="projects-tags-list-item">#js</li>
              <li class="projects-tags-list-item">#node js</li>
              <li class="projects-tags-list-item">#git</li>
            </ul>
            <h3 class="second-projects-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <div class="see-projects-btn">
              <a
                href="https://github.com/CrockFrey/js-team-5-project"
                class="projects-link"
                target="_blank"
                >See projects</a
              >
            </div>
          </div>
          <div class="right-projects-card">
            <picture
              ><source
                media="(min-width: 1440px)"
                srcset="
                  ../img/projects/projects-desktop-3.jpg,
                  ../img/projects/projects-desktop-3@2x.jpg
                " />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../img/projects/projects-tab-3.jpg,
                  ../img/projects/projects-tab-3@2x.jpg
                " />
              <source
                media="(max-width: 767px)"
                srcset="
                  ../img/projects/projects-mob-3.jpg,
                  ../img/projects/projects-mob-3@2x.jpg
                " />
              <img
                src="../img/projects/projects-mob-3.jpg"
                alt="Registration
          form"
                width="614"
                height="385"
            /></picture>
          </div>
        </li>
      </ul>
      <div class="projects-swipper-btn">
        <button class="projects-button-prev">
          <svg class="projects-icon" width="24" height="24">
            <use href="../img/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="projects-button-next">
          <svg class="projects-icon" width="24" height="24">
            <use href="../img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
