<section>
    <div class="container reviews-cont">
        <h2 class="reviews-title">Reviews</h2>
        <div class="swiper swiper-reviews">
            <div class="swiper-wrapper swiper-wrapper-reviews">
                <ul class="reviews-list"></ul>
                <p class="not-found-text is-hidden">Not found</p>
            </div>
            <div class="swiper-buttons-reviews">
                <button class="swiper-button-prev custom-prev-review">
                    <svg class="arrow-icon arrow-left">
                        <use href="./img/icons.svg#icon-arrow-left"></use>
                    </svg>
                </button>
                <button class="swiper-button-next custom-next-review">
                    <svg class="arrow-icon arrow-right">
                        <use href="./img/icons.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>