
<section>
    <div class="container reviews-cont">
        <h2 class="reviews-title">Reviews</h2>
        <div class="swiper review-swiper">
                <ul class="swiper-wrapper reviews-list"></ul>
                <p class="not-found-text is-hidden">Not found</p>
            <div class="reviews-btns">
                <button class="review-btn-prev review-btn-disabled">
                    <svg class="arrow-icon review-arrow-prev">
                        <use href="./img/icons.svg#icon-arrow-left"></use>
                    </svg>
                </button>
                <button class="review-btn-next">
                    <svg class="arrow-icon review-arrow-next">
                        <use href="./img/icons.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>


