<footer class="section-footer container" id="work-together">
  <div class="footer-container">
    <div class="footer-wrap">
      <div class="footer-logo">
        <picture>
          <source
            type="image/webp"
            srcset="
              ./img/footer/footer-des@1x.webp 1x,
              ./img/footer/footer-des@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            type="image/webp"
            srcset="
              ./img/footer/footer-tab1@x.webp 1x,
              ./img/footer/footer-tab@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            type="image/webp"
            srcset="
              ./img/footer/footer-mob@1x.webp 1x,
              ./img/footer/footer-mob@2x.webp 2x
            "
            media="(max-width: 767px)"
          />

          <img
            class="footer-image"
            src="./img/footer/footer-mob.webp"
            alt="Lloyd Jefferson"
          />
        </picture>

        <h2 class="footer-title">
          Let&prime;s&nbsp;<span class="footer-span">work</span>
        </h2>
      </div>
      <h2 class="footer-title-bot">together</h2>
    </div>

    <form class="form-footer">
      <div class="input-form">
        <input
          class="input-form-text"
          id="email"
          name="email"
          type="email"
          placeholder="clients@gmail.com"
        />
        <p class="message success" id="successMessage">Success!</p>
        <p class="message error" id="errorMessage">Invalid email, try again</p>
      </div>

      <div class="input-form">
        <input
          class="input-form-text no-scroll"
          id="comments"
          name="footer comments"
          type="text"
          placeholder="comments"
        />
        <p class="message success" id="successMessageComments">Success!</p>
        <p class="message error" id="errorMessageComments">
          Please, fill the field
        </p>
      </div>

      <button class="send-btn-footer" type="submit">Send</button>
    </form>

    <address class="info">
      <ul class="footer-list">
        <li class="footer-contacts">
          <a class="link-footer" href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li class="footer-contacts">
          <a class="link-footer" href="tel:+3801111111111"
            >+380 11 1111 11 11</a
          >
        </li>
      </ul>
    </address>
  </div>
</footer>
