<footer class="section-footer container" id="work-together">
  <div class="footer-container">
    <div class="footer-wrap">
      <div class="footer-logo">
        <picture>
          <source
            type="image/jpg"
            srcset="
              ./img/footer/footer-mob-photo.jpg    1x,
              ./img/footer/footer-mob-photo@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            type="image/jpg"
            srcset="
              ./img/footer/footer-tab-photo.jpg    1x,
              ./img/footer/footer-tab-photo@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="footer-image"
            src="./img/footer/footer-mob-photo.jpg"
            alt="Lloyd Jefferson"
          />
        </picture>

        <h2 class="footer-title">
          Let&prime;s&nbsp;<span class="footer-span">work</span>
        </h2>
      </div>
      <h2 class="footer-title-bot">together</h2>
    </div>

    <form class="form-footer">
      <div class="input-form">
        <input
          class="input-form-text"
          id="email"
          name="email"
          type="email"
          placeholder="clients@gmail.com"
        />
        <span class="message success" id="successMessage">Success!</span>
        <span class="message error" id="errorMessage"
          >Invalid email, try again</span
        >
      </div>

      <input
        class="input-form-text no-scroll"
        id="comments"
        name="footer comments"
        type="text"
        placeholder="comments"
      />

      <span class="message success" id="successMessage">Success!</span>
      <span class="message error" id="errorMessage"
        >Invalid email, try again</span
      >

      <button class="send-btn-footer" type="submit">Send</button>
    </form>

    <address class="info">
      <ul class="footer-list">
        <li class="footer-contacts">
          <a class="link-footer" href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li class="footer-contacts">
          <a class="link-footer" href="tel:+38011111`11111"
            >+380 11 1111 11 11</a
          >
        </li>
      </ul>
    </address>
  </div>
</footer>
