.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

section {
  padding-bottom: 64px;
}

@media screen and (min-width: 768px) {
  section {
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 1440px) {
  section {
    padding-bottom: 164px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #fafafa;
  background-color: #1c1d20;
  font-family: 'Inter Tight', sans-serif;
}

:root {
  --background: #1c1d20;
  --cards: #242527;
  --arrow: #3b3b3b;
  --button-text: #ed3b44;
  --main-text: #fafafa;
  --font-family: 'Inter Tight', sans-serif;
}
