.covers-section {
  margin: 0 auto;
  max-width: 100%;
  min-height: 508px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('../img/covers/back-mob@1x.png');
}

.visually-hidden {
  position: absolute;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.covers-content {
  position: relative;

  display: flex;
  animation: marquee 30s linear infinite;
  will-change: transform;
  gap: 30px;
}

.covers-menu {
  position: absolute;
  right: -2000px;
  left: -920px;
  overflow: hidden;
}
.covers-item {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  transform: rotate(16deg);

  display: flex;
}
.covers-img {
  width: 282px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 10);
  white-space: nowrap;
}

.animation {
  animation-name: marqueeLine;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
}

@media (min-resolution: 192dpi) {
  .covers-section {
    background-image: url('../img/covers/back-mob@1x.png');
  }
}

/* ---------- TABLET ---------- */

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .covers-section {
    max-width: 768px;
    min-height: 960px;
    background-image: url('../img/covers/back-tab@1x.png');
  }
  .covers-img {
    width: 544px;
  }
  .covers-item {
    display: flex;
    gap: 35px;
    margin-bottom: 45px;
  }
}

/* ---------- DESKTOP ---------- */

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .covers-section {
    max-width: 1440px;

    background-image: url('../img/covers/back-desk@1x.png');
  }

  .covers-item {
    margin-bottom: 40px;
  }

  .covers-img {
    width: calc(100% / 9);
  }
}
