.covers-section {
  margin: 0 auto;
  max-width: 100%;
  min-height: 508px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(../img/covers/covers-backgrou-mob.png);
}

.visually-hidden {
  position: absolute;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.covers-content {
  position: relative;
}

.covers-menu {
  position: absolute;
  right: -2000px;
  left: -320px;
  overflow: hidden;
}
.covers-item {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
  transform: rotate(16deg);
}
.covers-img {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 8);
  white-space: nowrap;
}

.animation {
  animation-name: marqueeLine;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes marqueeLine {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(-300%);
  }
}

@media (min-resolution: 192dpi) {
  .covers-section {
    background-image: url('../img/covers/covers-backgrou-mob.png');
  }
}

/* ---------- TABLET ---------- */

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .covers-section {
    min-height: 960px;
    background-image: url('../img/covers/covers-backgrou-tab.png');
  }
}

/* ---------- DESKTOP ---------- */

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .covers-section {
    background-image: url('../img/covers/covers-backgrou-desktop.png');
  }

  .covers-item {
    margin-bottom: 40px;
  }

  .covers-img {
    width: calc(100% / 9);
  }
}
