@import url('izitoast/dist/css/iziToast.min.css');

.reviews-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    opacity: 0.4;
}

.reviews-list {
    margin: 32px 0;
    display: flex;
    flex-direction: row;
}

.review-item {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 20px;
    padding: 32px 24px;
    max-width: 343px;
    min-height: 302px;
}

.review-item:not(:last-child) {
    margin-right: 16px;
}

.review-img {
    border-radius: 10px;
    margin-bottom: 32px;
}

.review-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
}

.review-text {
    font-weight: 500;
    margin: 0;
    line-height: 150%;
    letter-spacing: -0.02em;
    opacity: 0.6;
    width: 295px;
    height: 158px;
}

.swiper-wrapper-reviews {
   position: static;
   /* width: 100%;
   height: 100%; */
}

.swiper-buttons-reviews {
    height: 52px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.custom-prev-review,
.custom-next-review {
    position: static;
    border: 1px solid rgba(250, 250, 250, 0.5);
    background-color: inherit;
    border-radius: 60px;
    padding: 14px;
    margin-top: 0;
    width: 52px;
    height: 52px;
}


.arrow-icon {
    width: 24px;
    height: 24px;
}

.arrow-right {
    stroke: #fafafa;
    fill: none;
}

.arrow-left {
    stroke: #3B3B3B;
    fill: none;
}

.is-hidden {
    display: none;
}

.not-found-text {
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    color: rgba(250, 250, 250, 0.6);
    font-size: 20px;
    font-weight: 500;
}