
.reviews-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    opacity: 0.4;
}

.reviews-list {
    margin: 32px 0;
    display: flex;
    flex-direction: row;
}

.review-item {
    border: 1px solid rgba(250, 250, 250, 0.2);
        border-radius: 20px;
        padding: 32px 24px;
        max-width: 343px;
        height: 302px;
}

.review-img {
    border-radius: 10px;
    margin-bottom: 32px;
}

.review-name {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 8px;
}

.review-text {
    font-weight: 500;
    font-size: 16px;
    opacity: 0.6;
    width: 295px;
    height: 158px;
}

.swiper {
    width: 100%;
    height: 302px;
}

.swiper-slide {
    justify-content: center;
    align-items: center;
}