
.reviews-title {
    margin-top: 64px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    opacity: 0.4;
}

@media screen and (min-width: 768px) {
    .reviews-title {
        margin-top: 96px;
    }
}

@media screen and (min-width: 1440px) {
    .reviews-title {
        margin-top: 164px;
    }
}

.reviews-list {
    margin: 32px 0;
    display: flex;
    flex-direction: row;
}

.reviews-list .review-item:hover {
    background-color: var(--cards);
}

.review-item {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 20px;
    padding: 32px 24px;
    max-width: 343px;
    min-height: 302px;
}

.review-img {
    border-radius: 10px;
    margin-bottom: 32px;
}

.review-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
}

.review-text {
    font-weight: 500;
    margin: 0;
    line-height: 150%;
    letter-spacing: -0.02em;
    opacity: 0.6;
    width: 295px;
    height: 158px;
}

.reviews-btns {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .reviews-btns {
        gap: 20px;
    }
}

.review-btn-prev,
.review-btn-next {
    position: static;
    background-color: inherit;
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 60px;
    padding: 14px;
    margin-top: 0;
    width: 52px;
    height: 52px;
    transition: border-color 0.250s;
}

.review-btn-prev:hover,
.review-btn-next:hover {
        border-color:rgba(250, 250, 250, 0.2);
}

@media screen and (min-width: 768px) {
    .review-btn-prev:hover,
    .review-btn-next:hover {
        padding: 18px;
        width: 68px;
        height: 68px;
    }
}

.review-btn-prev .review-btn-disabled,
.review-btn-next .review-btn-disabled {
    border: 1px solid rgba(250, 250, 250, 0.2);
}

.review-btn-disabled > .arrow-icon {
    stroke: #3B3B3B;
}

.arrow-icon {
    width: 24px;
    height: 24px;
    stroke: #fafafa;
    fill: none;
    transition: stroke 0.250s;
}

.review-btn-prev:hover > svg,
.review-btn-next:hover > svg {
    stroke: #3B3B3B;
}

@media screen and (min-width: 768px) {
    .arrow-icon {
        width: 32px;
        height: 32px;
    }
}

.is-hidden {
    display: none;
}

.not-found-text {
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    color: rgba(250, 250, 250, 0.6);
    font-size: 20px;
    font-weight: 500;
}